<ion-header>
  <ion-toolbar color="dark" class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="address-font">My Addresses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="currentLocation.address?.savedAddress.length > 0">
    <div>
      <ion-segment-button value="new-address" class="segment-button">
        <ion-label class="label" routerLink="/address-form">Add</ion-label>
      </ion-segment-button>
    </div>
    <div *ngFor="let address of currentLocation.address.savedAddress">
      <ion-list class="list-border">
        
         <ion-label class="item-text-wrap"> {{address.name}}<br/></ion-label>
         <ion-label class="item-text-wrap"> {{address.flat}}<br/></ion-label>
         <ion-label class="item-text-wrap"> {{address.street}}<br></ion-label>
         <ion-label class="item-text-wrap"> {{address.locality}}<br></ion-label>
       
      </ion-list>
    </div>
  </div>

</ion-content>
