<ion-header>
    <ion-toolbar class="new-background">
        <ion-title class="header" [innerText]="authheaderTitle"></ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <div class="info" [innerText]="information"></div>

    <form [formGroup]="authForm" (ngSubmit)="onSubmit(authForm.value)">
        <ion-item>
            <ion-label position="stacked" [innerText]="MobileNumber"></ion-label>
            <ion-input class="input-data" formControlName="phone" maxlength=10 type="number"></ion-input>
        </ion-item>

        <div *ngIf="showReferral">
            <ion-checkbox [checked]="checkedRefferal" (ionChange)="enableCheckedReference(checkedRefferal)"
                class="checked"></ion-checkbox>
            <span class="referral-info" [innerText]="refferalCodeInfo"></span>

            <div *ngIf="enableReferralCode">
                <ion-item>
                    <ion-input class="input-data" formControlName="referralCode"></ion-input>
                </ion-item>
            </div>
        </div>

        <div class="buttonPosition">
            <ion-button expand="block" type="submit" [innerText]="authheaderTitle" [disabled]="!authForm.valid">
                <ion-spinner name="bubbles" *ngIf="loading"></ion-spinner>
            </ion-button>
            <ion-button type="button" size="small" fill="clear" expand="block"
                (click)="onSwitchAuthMode()" class="switchButtonClass" [innerText]="switchButton"></ion-button>
        </div>

    </form>
</ion-content>