.image-place {
	height: 58;
	width: 70;
}

.product-description {
	font-family: initial;
    font-size: medium;
}

.product-price {
	font-size: 12px;
	font-weight: bold;
}

.list {
	padding-right: unset !important;
    padding-left: unset !important;
}