.icon-art {
  font-size: 18px;
  margin-right: 14px;
}

.border-line {
  --border-color: white;
  font-size: 12px;
}

.border {
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
}

.showValueSize {
  font-size: 12px;
  color: gray;
  margin-left: 15px;
}

.font-label {
  font-size: 12px;
}

.sub-menu-label {
  margin-left: 45px;
}