.top {
  position: absolute;
  top: -35px;
}

.height-increase {
  --min-height: 105px !important;
  padding-top: 0;
}

.search-height {
  position: absolute;
  top: 60px;
}

.shopping-bag {
  inline-size: 15px;
  right: 18px;
  position: absolute;
  top: 28px;
}

.address {
  position: absolute;
  top: 23px;
  left: 45px;
  width: 195px;
}

.delivery-address {
  font-size: 10px;
  margin-bottom: 5px;
}

.google-map-address {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-number {
  width: 14px;
  height: 14px;
  line-height: 14px;
  font-size: 7px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #fa3e3e;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
}

.edit-image {
  inline-size: 14px;
  position: absolute;
  top: 15px;
  right: 0;
  left: 195px;
}