<ion-toolbar>
  <ion-buttons>
    <ion-menu-button class="top"></ion-menu-button>
  </ion-buttons>
    <p class="cart-number">7</p>
    <img src='../../../assets/shopping.png' class="shopping-bag">

</ion-toolbar>

<ion-content>
  <div *ngIf="firstCard.length">
    <app-information-cards [InformationData]="firstCard"></app-information-cards>
  </div>
  <div *ngIf="secondCard.length">
    <app-card-choices-selection [ChoiceData]="secondCard"></app-card-choices-selection>
  </div>
  <app-trending-products></app-trending-products>

  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button expand="block" size="medium" type="reset" (click)="logout()">Logout</ion-button>
</ion-content>