<ion-header>
  <ion-toolbar color="dark" class="height-increase">
    <ion-buttons>
      <ion-menu-button class="top" ></ion-menu-button>
    </ion-buttons>
    <div class="address" (click)="openLocation()">
      <div class="delivery-address" [innerText]="'Delivery Address'"></div>
      <div *ngIf="generatedAddress else chooseLocationBlock"class="google-map-address" [innerText]="generatedAddress"></div>
      <ng-template #chooseLocationBlock>
        <div class="google-map-address" [innerText]="'Select Location'"></div>
      </ng-template>
      <img src='../../../assets/edit.png' class="edit-image">
      </div>
    <ion-searchbar autocomplete='on' color='light' class='search-height' mode='ios'></ion-searchbar>
    <p class="cart-number">7</p>
    <img src='../../../assets/bag.png' class="shopping-bag">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="firstCard.length">
    <app-information-cards [InformationData]="firstCard"></app-information-cards>
  </div>
  <div *ngIf="secondCard.length">
    <app-card-choices-selection [ChoiceData]="secondCard"></app-card-choices-selection>
  </div>

  <div *ngIf="!firstCard.length">
    <app-ghost-information-card></app-ghost-information-card>
  </div>
  <div *ngIf="!secondCard.length">
    <app-ghost-card-choice-card></app-ghost-card-choice-card>
  </div>

  <app-trending-products></app-trending-products>

  <ion-card *ngIf="user">
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>{{user.firstName}} {{user.lastName}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-button expand="block" size="medium" type="reset" (click)="logout()">Logout</ion-button>
</ion-content>