.leftCard {
    min-height: 100px;
    max-height: 100px;
    max-width: 130px;
    min-width: 130px;
    left: -15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.header {
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 10px;
}

.sub-header {
    font-weight: 600;
    font-size: 13px;
    margin-left: 10px;
}

.product-name {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 65px;
    left: 20px;
}

.image-place {
    height: 100px;
}